/* /Components/NavBar.razor.rz.scp.css */
nav[b-4iub4don6c] {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: purple;
    padding: 30px;
    color: white;
}

@media (min-width: 300px) and (max-width: 700px) {
    nav[b-4iub4don6c] {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        background: purple;
        padding: 30px;
        color: white;
    }

    .mobile[b-4iub4don6c] {
        margin: 10px 0;
    }
}

nav:hover[b-4iub4don6c] {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: rgb(147, 0, 147, 0.7);
    padding: 30px;
    color: white;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

nav .nav-item[b-4iub4don6c] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

nav .nav-item:hover[b-4iub4don6c] {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

#nav-item[b-4iub4don6c] {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
/* /Components/Pages/Login.razor.rz.scp.css */
.login-container[b-0ww7vns9iz] {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(158, 158, 158, 0.6)),
        url('loginbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

div .sub-container[b-0ww7vns9iz] {
    background: orange;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px;
    min-width: 40%;
    max-width: 70%;
}

.input-container[b-0ww7vns9iz] {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
}

div button[b-0ww7vns9iz] {
    width: 100%;
    padding: 5px;
    background: purple;
    color: white;
    border: none;
}

div button:hover[b-0ww7vns9iz] {
    width: 100%;
    padding: 5px;
    background: rgb(129, 0, 129, 0.3);
    border: none;
    transition: 0.3s ease-in-out;
}

div input[b-0ww7vns9iz] {
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}

div input:focus[b-0ww7vns9iz], input:focus[b-0ww7vns9iz] {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}

label[b-0ww7vns9iz] {
    font-size: 15px;
}

div p[b-0ww7vns9iz] {
    text-align: center;
    padding: 20px;
    color: purple;
}

.signup[b-0ww7vns9iz] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup .btn[b-0ww7vns9iz] {
    width: 50px;
}
/* /Components/Pages/SignUp.razor.rz.scp.css */
.login-container[b-6hzfn2tvxj] {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(158, 158, 158, 0.6)),
        url('loginbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

div .sub-container[b-6hzfn2tvxj] {
    background: orange;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px;
    min-width: 40%;
    max-width: 70%;
}

label[b-6hzfn2tvxj] {
    font-size: 15px;
}

.input-container[b-6hzfn2tvxj] {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
}

div button[b-6hzfn2tvxj] {
    width: 100%;
    padding: 5px;
    background: purple;
    color: white;
    border: none;
}

div button:hover[b-6hzfn2tvxj] {
    width: 100%;
    padding: 5px;
    background: rgb(129, 0, 129, 0.3);
    border: none;
    transition: 0.3s ease-in-out;
}

div input[b-6hzfn2tvxj] {
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}

div input:focus[b-6hzfn2tvxj], input:focus[b-6hzfn2tvxj] {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}

div select:focus[b-6hzfn2tvxj], select:focus[b-6hzfn2tvxj] {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}


div select[b-6hzfn2tvxj] {
    padding: 5px;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 10px;
    background: none;
}

div p[b-6hzfn2tvxj] {
    text-align: center;
    padding: 20px;
    color: blue;
}

.signup[b-6hzfn2tvxj] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* /Components/Pages/Tasks.razor.rz.scp.css */
@media (min-width: 300px) and (max-width: 700px) {
    .mobile button[b-t5dwqe0v9t] {
        padding: 2px 5px;
        font-size: 10px;
    }

    .mobile .opt-btn[b-t5dwqe0v9t] {
        margin-top: -20px;
    }

    .mobile .i i[b-t5dwqe0v9t] {
        font-size: 15px;
    }

    li[b-t5dwqe0v9t] {
        padding: 0px;
    }

    ul[b-t5dwqe0v9t] {
        margin: 0px;
    }
}

.btn-hov:hover[b-t5dwqe0v9t] {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn-hov:focus[b-t5dwqe0v9t] {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

div input:focus[b-t5dwqe0v9t], input:focus[b-t5dwqe0v9t] {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    border: none;
    padding: 10px;
    background: none;
}

div select:focus[b-t5dwqe0v9t], select:focus[b-t5dwqe0v9t] {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    border: none;
    padding: 10px;
    background: none;
}
/* /Components/StatCard.razor.rz.scp.css */
.stat-container[b-rcdnksctwj] {
    padding: 20px;
    box-shadow: 2px 2px 2px orange;
    border-radius: 10px;
    width: 200px;
    background-color: rgb(130, 130, 130, 0.3);
}

.label[b-rcdnksctwj] {
    display: flex;
    gap: 5px;
}

.value[b-rcdnksctwj] {
    font-size: 40px;

}
/* /Components/TaskCard.razor.rz.scp.css */
*[b-j3b6aa0kcl] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.task-container[b-j3b6aa0kcl] {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    box-sizing: border-box;
}

.container-title[b-j3b6aa0kcl] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    align-items: center;
}

input[b-j3b6aa0kcl] {
    width: 20px;
    height: 20px;
}

button[b-j3b6aa0kcl] {
    background: none;
    border: none;
}

.task-container b[b-j3b6aa0kcl] {
    margin: 0;
}

li[b-j3b6aa0kcl] {
    list-style-type: none;
}

.tr[b-j3b6aa0kcl] {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.td1[b-j3b6aa0kcl] {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 50px;
}

.td2[b-j3b6aa0kcl] {
    display: flex;
    justify-content: space-between;
    width: 30%;
    background: rgb(255, 166, 0, 0.2);
    padding: 10px;
}

span[b-j3b6aa0kcl] {
    margin-right: 5px;
}

@media (min-width: 300px) and (max-width: 700px) {

    *[b-j3b6aa0kcl] {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .mobile[b-j3b6aa0kcl] {
        font-size: 10px;
        overflow: scroll;
        padding: 0;
    }

    table[b-j3b6aa0kcl] {
        padding: 0;
    }

    input[b-j3b6aa0kcl] {
        width: 10px;
        height: 10px;
    }

    .tr[b-j3b6aa0kcl] {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .container-title[b-j3b6aa0kcl] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        align-items: center;
    }

    tr[b-j3b6aa0kcl] {
        padding: 0;
    }

    .td1[b-j3b6aa0kcl] {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }


    .td2[b-j3b6aa0kcl] {
        display: flex;
        justify-content: space-between;
        background: rgb(255, 166, 0, 0.2);
    }

    span[b-j3b6aa0kcl] {
        margin-right: 5px;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
*[b-nttuw0gpbt] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page[b-nttuw0gpbt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nttuw0gpbt] {
    flex: 1;
}

.sidebar[b-nttuw0gpbt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nttuw0gpbt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nttuw0gpbt]  a, .top-row[b-nttuw0gpbt]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nttuw0gpbt]  a:hover, .top-row[b-nttuw0gpbt]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nttuw0gpbt]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-nttuw0gpbt] {
        justify-content: space-between;
    }

    .top-row[b-nttuw0gpbt]  a, .top-row[b-nttuw0gpbt]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nttuw0gpbt] {
        flex-direction: row;
    }

    .sidebar[b-nttuw0gpbt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nttuw0gpbt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nttuw0gpbt]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nttuw0gpbt], article[b-nttuw0gpbt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-nttuw0gpbt] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-nttuw0gpbt] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-kddxv0qnf9] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-kddxv0qnf9] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-kddxv0qnf9] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-kddxv0qnf9] {
    font-size: 1.1rem;
}

.bi[b-kddxv0qnf9] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-kddxv0qnf9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-kddxv0qnf9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-kddxv0qnf9] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-kddxv0qnf9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-kddxv0qnf9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-kddxv0qnf9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-kddxv0qnf9]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-kddxv0qnf9]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-kddxv0qnf9]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-kddxv0qnf9] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-kddxv0qnf9] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-kddxv0qnf9] {
        display: none;
    }

    .nav-scrollable[b-kddxv0qnf9] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-eo6arhmkwq],
.components-reconnect-repeated-attempt-visible[b-eo6arhmkwq],
.components-reconnect-failed-visible[b-eo6arhmkwq],
.components-pause-visible[b-eo6arhmkwq],
.components-resume-failed-visible[b-eo6arhmkwq],
.components-rejoining-animation[b-eo6arhmkwq] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-retrying[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-failed[b-eo6arhmkwq],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-eo6arhmkwq] {
    display: block;
}


#components-reconnect-modal[b-eo6arhmkwq] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-eo6arhmkwq 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-eo6arhmkwq 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-eo6arhmkwq 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-eo6arhmkwq]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-eo6arhmkwq 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-eo6arhmkwq {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-eo6arhmkwq {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-eo6arhmkwq {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-eo6arhmkwq] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-eo6arhmkwq] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-eo6arhmkwq] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-eo6arhmkwq] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-eo6arhmkwq] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-eo6arhmkwq] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-eo6arhmkwq] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-eo6arhmkwq 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-eo6arhmkwq] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-eo6arhmkwq {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
