<div style="margin-bottom: 20px;">
    <div style="width: 100%; margin: 20px 0 0; align-items: center; justify-content: center; margin-bottom: 50px;">
        <div style="margin-bottom: 0;">
            <div
                style="width: 100%; height: 30px; border-radius: 20px; background: rgb(127, 127, 127, 0.2); margin-bottom: 5px;">
            </div>
            <div
                style="width: 100%; height: 30px; border-radius: 20px; background: rgb(127, 127, 127, 0.2); margin-bottom: 5px;">
            </div>
            <div style="width: 100%; height: 30px; border-radius: 20px; background: rgb(127, 127, 127, 0.2);"></div>
        </div>
    </div>
    <p>@LoadingState</p>
</div>

@code {
    [Parameter] public string LoadingState { get; set; } = "";
}