nav {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: purple;
    padding: 30px;
    color: white;
}

@media (min-width: 150px) and (max-width: 700px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        background: purple;
        padding: 30px;
        color: white;
    }

    .mobile {
        margin: 10px 0;
    }

    .mobile-nav {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

@media (min-width: 701px) {
    .mobile-menu {
        display: none;
    }
}

nav:hover {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: rgb(147, 0, 147, 0.7);
    padding: 30px;
    color: white;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

nav .nav-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

nav .nav-item:hover {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

#nav-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.slide-from-top {
    animation: slideFromTop 0.8s cubic-bezier(.175, .885, .32, 1.275) forwards;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-120px);
        opacity: 0;
    }

    70% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}