@using System.Reflection.Metadata
<table class="task-container mobile">
    <tr class="tr">
        <td class="td1">
            <div @onclick="() => OnToggle.InvokeAsync(Task.Id)" class="container-title">
                <p>
                    <input style="user-select: none; pointer-events: none;" type="checkbox" checked="@Task.IsComplete" @onclick:stopPropagation="true" />
                </p>

                <p>@Task.Title</p>
            </div>
        </td>
        <td class="td2">
            <button>
                @if (Task.Priority == Priority.Low)
                {
                    <span>
                        <text>🔴</text>
                    </span>
                }
                else if (Task.Priority == Priority.Medium)
                {
                    <span>
                        <text>🟡</text>
                    </span>
                }
                else if (Task.Priority == Priority.High)
                {
                    <span>
                        <text>🟢</text>
                    </span>
                }
                @Task.Priority
            </button>
            @if (TaskIdToDelete != Task.Id)
            {
                <button @onclick="() => OnRequestDelete.InvokeAsync(Task.Id)">🗑️</button>
            }
            else
            {
                <div style="width: 200px; margin-left: 5px; transition: 0.3s ease-in">
                    <button style="font-size: 12px; margin-right: 10px;" @onclick="() => OnDelete.InvokeAsync(Task.Id)">✅
                        Confirm</button>
                        <button style="font-size: 12px;" @onclick="() => OnRequestDelete.InvokeAsync(-1)">❌ Cancel</button>
                    </div>
                }
            </td>
        </tr>
    </table>

@code {
    [Parameter] public int? TaskIdToDelete { get; set; } = null;
    [Parameter] public EventCallback<int> OnRequestDelete { get; set; }

    [Parameter] public AppTask Task { get; set; } = new();
    [Parameter] public EventCallback<int> OnDelete { get; set; }
    [Parameter] public EventCallback<int> OnToggle { get; set; }
    [Parameter] public EventCallback<int> OnEdit { get; set; }
}













