@media (min-width: 300px) and (max-width: 700px) {
    .mobile button {
        padding: 2px 5px;
        font-size: 10px;
    }

    .mobile .opt-btn {
        margin-top: -20px;
    }

    .mobile .i i {
        font-size: 15px;
    }

    li {
        padding: 0px;
    }

    ul {
        margin: 0px;
    }
}

.btn-hov:hover {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn-hov:focus {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

input {
    background-color: rgb(121, 0, 121, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

input:focus {
    outline: none;
    background-color: rgb(121, 0, 121, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

select:focus {
    outline: none;
    background-color: rgb(121, 0, 121, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
    user-select: none;
}

.confirm-disable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.3);
}

.btn-li {
    width: 100%;
    display: block;
    background: none;
    border: none;
    margin-bottom: 5px;
}