@media (min-width: 300px) and (max-width: 700px) {
    .mobile button {
        padding: 2px 5px;
        font-size: 10px;
    }

    .mobile .opt-btn {
        margin-top: -20px;
    }

    .mobile .i i {
        font-size: 15px;
    }

    li {
        padding: 0px;
    }

    ul {
        margin: 0px;
    }
}

.btn-hov:hover {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn-hov:focus {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

div input:focus, input:focus {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    border: none;
    padding: 10px;
    background: none;
}

div select:focus, select:focus {
    outline: none;       /* This removes the default browser highlight */
    box-shadow: none;    /* This removes the default shadow in iOS/Safari */
    border: none;
    padding: 10px;
    background: none;
}

input {
    background-color: rgb(121, 0, 121, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

input:focus {
    outline: none;
    background-color: rgb(121, 0, 121, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}