@media (min-width: 300px) and (max-width: 700px) {
    .mobile button {
        padding: 2px 5px;
        font-size: 10px;
    }

    .mobile .opt-btn {
        margin-top: -20px;
    }

    .mobile .i i {
        font-size: 15px;
    }

    li {
        padding: 0px;
    }

    ul {
        margin: 0px;
    }
}

.btn-hov:hover {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn-hov:focus {
    color: purple;
    font-weight: bold;
    transition: 0.3s ease-out;
}